apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://192.168.1.103:16443
  name: microk8s-cluster
contexts:
- context:
    cluster: microk8s-cluster
    user: admin
  name: default
- context:
    cluster: microk8s-cluster
    user: ditry
  name: ditry-context
- context:
    cluster: kubernetes
    user: jean
  name: jean-context
- context:
    cluster: microk8s-cluster
    user: admin
  name: microk8s
current-context: ditry-context
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate-data: DATA+OMITTED
    client-key-data: DATA+OMITTED
- name: ditry
  user:
    client-certificate: /home/ditry/kuber-homeworks-2.4/cert.crt
    client-key: /home/ditry/kuber-homeworks-2.4/homework.key
